<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Check-out</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/shop">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Check-out</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->
<section class="section-b-space">
  <div class="container">
    <div class="checkout-page">
      <div class="checkout-form">
        <form [formGroup]="userFormGroup" #ngForm="ngForm">
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-title">
                <h3>Détails de la facturation</h3>
              </div>
              <div class="row check-out">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Téléphone*</div>
                  <input formControlName="phone" type="text" name="field-name" value="" placeholder="">
                  <div *ngIf="ngForm.submitted &&  userFormGroup.get('phone').hasError('pattern')"
                       class="invalid-feedback d-block">Enter un numéro de téléphone valide
                  </div>
                  <div *ngIf="ngForm.submitted &&  userFormGroup.get('phone').hasError('required')"
                       class="invalid-feedback d-block">Veuillez renseigner ce champ
                  </div>
                </div>
                <div style="margin:auto" class="form-group col-md-6 col-sm-6 col-xs-12">
                  <input type="button" class="btn btn-primary" style="color: white" value="Remplissage automatique"
                         placeholder="">
                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Prénom*</div>
                  <input formControlName="firstName" type="text" name="field-name" value="" placeholder="">
                  <div *ngIf="ngForm.submitted &&  userFormGroup.get('firstName').hasError('required')"
                       class="invalid-feedback d-block">Veuillez renseigner ce champ
                  </div>

                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Nom*</div>
                  <input type="text" formControlName="lastName" name="field-name" value="" placeholder="">
                  <div *ngIf="ngForm.submitted &&  userFormGroup.get('lastName').hasError('required')"
                       class="invalid-feedback d-block">Veuillez renseigner ce champ
                  </div>

                </div>

                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                  <div class="field-label">Email*</div>
                  <input formControlName="email" type="text" name="field-name" value="" placeholder="">
                  <div *ngIf="ngForm.submitted &&  userFormGroup.get('email').hasError('email')"
                       class="invalid-feedback d-block">Veuillez enter un email valide
                  </div>
                  <div *ngIf="ngForm.submitted &&  userFormGroup.get('email').hasError('required')"
                       class="invalid-feedback d-block">Veuillez renseigner ce champ
                  </div>

                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Adresse*</div>
                  <input formControlName="address" type="text" name="field-name" value="" placeholder="Street address">
                  <div *ngIf="ngForm.submitted &&  userFormGroup.get('address').hasError('required')"
                       class="invalid-feedback d-block">Veuillez renseigner ce champ
                  </div>

                </div>
                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                  <div class="field-label">Ville*</div>
                  <input formControlName="town" type="text" name="field-name" value="" placeholder="">
                  <div *ngIf="ngForm.submitted &&  userFormGroup.get('town').hasError('required')"
                       class="invalid-feedback d-block">Veuillez renseigner ce champ
                  </div>

                </div>

                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Postal Code*</div>
                  <input formControlName="postalCode" type="text" name="field-name" value="" placeholder="">
                  <div *ngIf="ngForm.submitted &&  userFormGroup.get('postalCode').hasError('required')"
                       class="invalid-feedback d-block">Veuillez renseigner ce champ
                  </div>

                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-details">

                <div *ngIf="loadedProducts?.length>0" class="order-box">
                  <div class="title-box">
                    <div>Produit <span>Total</span></div>
                  </div>
                  <ul class="qty">
                    <li *ngFor=" let p of loadedProducts"><b>{{p?.name}}</b> × {{p?.cart.quantity}}
                      ({{p?.cart.size.size.name}})
                      <span>{{p?.cart.quantity * p?.price}} DT</span></li>
                  </ul>

                  <ul class="total">
                    <li>Total <span class="count">{{calcTotalPrice()}} DT</span></li>
                  </ul>
                </div>
                <div class="payment-box">

                  <div *ngIf="loadedProducts?.length>0" class="text-end">
                    <button type="submit" style="color: white" (click)="placeOrder()"
                            class="btn-solid btn"><i *ngIf="submittingData"
                                                     class="fa fa-spinner fa-spin"></i>Passer la commande
                    </button>
                  </div>
                  <div *ngIf="loadedProducts.length===0" routerLink="/shop/categories" class="text-end">
                    <h5 class="d-inline-block f-left">Vote panier est vide</h5>
                    <a style="color: white" class="btn-solid btn">Aller à la boutique</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- section end -->
