<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container" >
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>cart</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/shop">Home</a></li>
            <li class="breadcrumb-item active">cart</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="cart-section section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      </div>
      <div *ngIf="loadedProducts?.length > 0" class="col-sm-12 table-responsive-xs">
        <table class="table cart-table">
          <thead>
          <tr class="table-head">
            <th scope="col">Image</th>
            <th scope="col">Produit</th>
            <th scope="col">Prix</th>
            <th scope="col">Taille</th>
            <th scope="col">Quantité</th>
            <th scope="col">total</th>
            <th scope="col">action</th>
          </tr>
          </thead>
          <tbody *ngFor="let p of loadedProducts">
          <tr>
            <td>
              <a [routerLink]="['/shop/products/details',p?.id]"><img [src]="p?.pictures[0]?.url" alt=""></a>
            </td>
            <td><a [routerLink]="['/shop/products/details',p?.id]">{{p?.name}}</a>
              <div class="mobile-cart-content row">
                <div class="col">
                  <div class="qty-box">
                    <div class="input-group">
                      <input type="text" name="quantity" class="form-control input-number"
                             value="1">
                    </div>
                  </div>
                </div>
                <div class="col">
                  <h2 class="td-color">$63.00</h2>
                </div>
                <div class="col">
                  <h2 class="td-color"><a href="#" class="icon"><i class="ti-close"></i></a>
                  </h2>
                </div>
              </div>
            </td>
            <td>
              <h2 *ngIf="!p?.sale" class="price-h2">{{p?.price}}DT</h2>
              <h2 *ngIf="p.sale" class="price-detail"
                  style="font-family: Lato, sans-serif;">{{calculateNewPrice(p?.price, p?.sale.percentage)}}
                DT
                <del>{{p.price}}DT</del>
                <span style="font-size: 16px;  color: var(--theme-deafult); padding-left: 10px;">{{p.sale.percentage}} off</span>
              </h2>
            </td>
            <td>
              <span #size>{{p?.cart.size.size.name}}</span>
            </td>
            <td>
              <div class="qty-box">
                <div class="input-group">
                  <input (change)="updateQuantity(p,quantity.value,size.innerText)" #quantity type="number" name="quantity" class="form-control input-number"
                         [value]="p?.cart.quantity">
                </div>
              </div>
            </td>

            <td>
              <h2 class="td-color">{{p?.cart.quantity * p?.price}}DT</h2>
            </td>
            <td><a (click)="removeProduct(p)" class="icon"><i class="ti-close"></i></a></td>
          </tr>
          </tbody>

        </table>
        <div class="table-responsive-md">
          <table class="table cart-table ">
            <tfoot>
            <tr>
              <td>Prix total:</td>
              <td>
                <h2>{{calcTotalPrice()}}DT</h2>

              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <span *ngIf="loadedProducts?.length === 0 " style="text-align: center">Vote panier est vide</span>
    </div>
    <div class="row cart-buttons">
      <div class="col-6"><a style="color:white" routerLink="/shop/categories" class="btn btn-solid btn-hover">continue shopping</a>
      </div>
      <div class="col-6"><a  style="color: white;" routerLink="/shop/checkout" class="btn btn-solid btn-hover">check out</a></div>
    </div>
  </div>
</section>
<!--section end-->
