<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>{{loadedProduct?.name}}</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/shop">Accueil</a></li>
            <li class="breadcrumb-item"><a routerLink="/shop/categories">Boutique</a></li>
            <li class="breadcrumb-item active" aria-current="page">Produit</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->
<section>
  <div class="collection-wrapper">
    <div *ngIf="productHasBeenLoaded" class="container">
      <div class="row">
        <div class="col-lg-6">

          <div class="product-slick">
            <div *ngFor="let pic of loadedProduct?.pictures"><img
              style="width: :33.75rem;object-fit: cover;  height:42.188rem;" [src]="pic?.url" alt=""
              class="img-fluid blur-up lazyload image_zoom_cls-0">
            </div>

          </div>
          <div class="row">
            <div class="col-12 p-0">
              <div class="slider-nav">
                <div *ngFor="let pic of loadedProduct?.pictures"><img style="width: 13rem;object-fit: cover;
    height: 15.8rem;" [src]="pic?.url" alt=""
                                                                      class="img-fluid blur-up lazyload"></div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 rtl-text">
          <div class="product-right">

            <h2>{{loadedProduct?.name}}</h2>
            <div class="rating-section">

            </div>
            <div class="label-section">
              <span *ngFor="let c of loadedProduct.categories" class="badge badge-info ml-1">{{c?.name}}</span>
            </div>
            <ng-container *ngIf="loadedProduct.sale">
              <h3 class="price-detail"
                  style="font-family: Lato, sans-serif;">{{calculateNewPrice(loadedProduct?.price, loadedProduct?.sale.percentage)}}
                DT
                <del>{{loadedProduct.price}}DT</del>
                <span>{{loadedProduct.sale.percentage}} off</span>
              </h3>

            </ng-container>
            <ng-container *ngIf="!loadedProduct.sale">
              <h3 class="price-detail" style="font-family: Lato, sans-serif;">{{loadedProduct.price}}DT</h3>
            </ng-container>
            <div *ngIf="loadedProduct?.sale" class="border-product">
              <h6 class="product-title">Promotion expire dans</h6>

              <span class="badge badge-warning" style="color: white;padding: 6px 62px;font-size: 14px"> {{daysLeft(loadedProduct.sale)}} jours</span>
            </div>
            <form #ngForm="ngForm" [formGroup]="cartFormGroup">
              <div id="selectSize" class="addeffect-section product-description border-product">

                <h6 *ngIf="!sizeToCart && ngForm.submitted && loadedProduct?.sizes.length>0"
                    class="error-message d-block">Selectionner une taille</h6>
                <div class="size-box">
                  <ul>
                    <li [class.selected-size]="s===sizeToCart" *ngFor="let s of loadedProduct?.sizes"><a #size
                                                                                                         style="cursor: default"
                                                                                                         (click)="setSizeToBuy(s)"
                    >{{s.size.name}}</a></li>

                  </ul>
                </div>
                <h6 class="product-title">quantity</h6>
                <h6 *ngIf="cartFormGroup.get('quantity').hasError('min') && ngForm.submitted "
                    class="error-message d-block">Quantité doit être supérieure à 0 une taille</h6>
                <h6 *ngIf="!isNumber(quantity.value) "
                    class="error-message d-block">Saisir une quantité valid</h6>

                <div class="qty-box">
                  <div class="input-group">
                  <span class="input-group-prepend">
               <button type="button" class="btn quantity-left-minus"><i class="ti-angle-left"></i></button>
                </span>
                    <input #quantity formControlName="quantity" type="text" name="quantity"
                           class="form-control input-number"
                    >
                    <span class="input-group-prepend">
                    <button type="button" class="btn quantity-right-plus"><i class="ti-angle-right"></i></button>
                  </span>

                  </div>
                </div>
              </div>
              <div class="product-buttons">
                <button type="submit" (click)="addToCart()" class="btn btn-solid hover-solid btn-animation"
                        style="color:white"><i class="fa fa-shopping-cart me-1"
                                               aria-hidden="true"></i> Ajouter
                  au panier
                </button>
              </div>
            </form>

            <div class="border-product">
              <h6 class="product-title">Description</h6>
              <p>{{loadedProduct?.description}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->


<!-- product-tab starts -->


<!-- product-tab ends -->


<!-- product section start -->
<section class="section-b-space ratio_asos">
  <div class="container">
    <div class="row">
      <div class="col-12 product-related">
        <h2>related products</h2>
      </div>
    </div>
    <div class="row search-product">
      <div class="col-xl-2 col-md-4 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div class="front">
              <a href="#"><img src="assets/images/pro3/33.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="back">
              <a href="#"><img src="assets/images/pro3/34.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="cart-info cart-wrap">
              <button title="Add to cart"><i class="ti-shopping-cart"></i></button>

            </div>
          </div>
          <div class="product-detail">
            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
              class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
            <a href="product-page(no-sidebar).html">
              <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- product section end -->

<div *ngIf="productToCart.showToast" class="media recently-purchase show notif-cart"
     style="position: fixed;top:15px;right: 15px;left: unset;align-items: center">
  <img class="toast-product-img" [src]="productToCart?.product.pictures[0]?.url" alt="Floral Dress ">
  <div class="media-body">
    <div>
      <div class="title">
        Produit ajoutée dans le panier
      </div>

      <span class="product-name mt-3">
                       {{productToCart.product?.name}}
                    </span>
    </div>
  </div>
  <a (click)="productToCart.showToast=false" class="close-popup fa fa-times"></a>
</div>
<!-- added to cart notification -->
