<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <div class="page-header-left">
          <h3>Ajout d'un produit
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-home"></i></a></li>
          <li class="breadcrumb-item">Produits</li>
          <li class="breadcrumb-item active">Ajout d'un produit</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Ajout d'un produit</h5>
        </div>
        <div class="card-body">
          <div class="row product-adding">
            <div class="col-xl-5">
              <div class="add-product">
                <div class="row">
                  <div class="col-xl-9 xl-50 col-sm-6 col-9">
                    <div *ngIf="ngForm.submitted && !mainImageDisplay" class="invalid-feedback d-block">Ajouter au moins
                      une image
                    </div>
                    <img *ngIf="!mainImageDisplay" src="assets/images/pro3/1.jpg" alt=""
                         class="img-fluid image_zoom_1 blur-up lazyloaded">
                    <img *ngIf="mainImageDisplay" [src]="mainImageDisplay" alt=""
                         class="img-fluid image_zoom_1 blur-up lazyloaded">


                  </div>
                  <div class="col-xl-3 xl-50 col-sm-6 col-3">
                    <ul class="file-upload-product">
                      <li class="align-items-center">
                        <img *ngIf="image1Preview.uploaded" class="box-input-file"
                             (click)="mainImageDisplay=image1Preview.src" [src]="image1Preview.src">
                        <div *ngIf="!image1Preview.uploaded" class="box-input-file"><input
                          (change)="uploadImage(1,$event)" class="upload" type="file">
                          <i [ngClass]="!image1Preview.uploading ? 'fa fa-plus' : 'fa fa-spinner fa-pulse'"></i>
                        </div>
                        <button *ngIf="image1Preview.uploading"  style="margin-left: 1rem"  (click)="cancelUpload(1)" class="btn btn-primary">
                        <i  class="fa fa-times" style="font-size: 20px;"></i>

                        </button>
                      </li>

                      <li class="align-items-center">
                        <img *ngIf="image2Preview.uploaded" class="box-input-file"
                             (click)="mainImageDisplay=image2Preview.src" [src]="image2Preview.src">
                        <div *ngIf="!image2Preview.uploaded" class="box-input-file"><input
                          (change)="uploadImage(2,$event)" class="upload" type="file">
                          <i [ngClass]="!image2Preview.uploading ? 'fa fa-plus' : 'fa fa-spinner fa-pulse'"></i>
                        </div>
                        <button *ngIf="image2Preview.uploading"  style="margin-left: 1rem"  (click)="cancelUpload(2)" class="btn btn-primary">
                          <i  class="fa fa-times" style="font-size: 20px;"></i>

                        </button>
                      </li>

                      <li class="align-items-center">
                        <img *ngIf="image3Preview.uploaded" class="box-input-file"
                             (click)="mainImageDisplay=image3Preview.src" [src]="image3Preview.src">
                        <div *ngIf="!image3Preview.uploaded" class="box-input-file"><input
                          (change)="uploadImage(3,$event)" class="upload" type="file">
                          <i [ngClass]="!image3Preview.uploading ? 'fa fa-plus' : 'fa fa-spinner fa-pulse'"></i>
                        </div>
                        <button *ngIf="image3Preview.uploading"  style="margin-left: 1rem"  (click)="cancelUpload(3)" class="btn btn-primary">
                          <i  class="fa fa-times" style="font-size: 20px;"></i>

                        </button>
                      </li>

                      <li class="align-items-center">
                        <img *ngIf="image4Preview.uploaded" class="box-input-file"
                             (click)="mainImageDisplay=image4Preview.src" [src]="image4Preview.src">
                        <div *ngIf="!image4Preview.uploaded" class="box-input-file"><input
                          (change)="uploadImage(4,$event)" class="upload" type="file">
                          <i [ngClass]="!image4Preview.uploading ? 'fa fa-plus' : 'fa fa-spinner fa-pulse'"></i>
                        </div>
                        <button *ngIf="image4Preview.uploading"  style="margin-left: 1rem"  (click)="cancelUpload(4)" class="btn btn-primary">
                          <i  class="fa fa-times" style="font-size: 20px;"></i>

                        </button>
                      </li>

                      <li class="align-items-center" >
                        <img *ngIf="image5Preview.uploaded" class="box-input-file"
                             (click)="mainImageDisplay=image5Preview.src" [src]="image5Preview.src">
                        <div *ngIf="!image5Preview.uploaded" class="box-input-file"><input
                          (change)="uploadImage(5,$event)" class="upload" type="file">
                          <i [ngClass]="!image5Preview.uploading ? 'fa fa-plus' : 'fa fa-spinner fa-pulse'"></i>

                        </div>
                        <button *ngIf="image5Preview.uploading"  style="margin-left: 1rem"  (click)="cancelUpload(5)" class="btn btn-primary">
                          <i  class="fa fa-times" style="font-size: 20px;"></i>

                        </button>                      </li>


                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-7">
              <form class="needs-validation add-product-form" [formGroup]="productFormGroup" #ngForm="ngForm">
                <div class="form">
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0">Collection: </label>
                    <div class="col-xl-8 col-sm-7">
                      <select formControlName="collection" class="form-control digits"
                              [class.is-invalid]=" ngForm.submitted && productFormGroup.get('collection').hasError('required')"
                              name="collection">
                        <option *ngFor="let c of loadedCollections">{{c}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0">Sexe:</label>
                    <div class="col-xl-8 col-sm-7">
                      <select formControlName="gender" class="form-control digits"
                              [class.is-invalid]=" ngForm.submitted &&  productFormGroup.get('gender').hasError('required')"
                              name="gender">
                        <option *ngFor="let g of loadedGenders">{{g}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0">Catégories: </label>
                    <div class="col-xl-8 col-sm-7">
                      <ng-multiselect-dropdown
                        [placeholder]="'Sélectionner des catégories\n'"
                        [settings]="CategoryDropdownSettings"
                        [data]="loadedCategories"

                        formControlName="categories"
                      >
                      </ng-multiselect-dropdown>
                      <div *ngIf="ngForm.submitted &&  productFormGroup.get('categories').hasError('required')"
                           class="invalid-feedback d-block">Sélectionnez au moins une catégorie
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0">Disponibilité: </label>
                    <div class="col-xl-8 col-sm-7">
                      <select formControlName="status" class="form-control digits"
                              [class.is-invalid]=" ngForm.submitted && productFormGroup.get('status').hasError('required')"
                              name="collection">
                        <option *ngFor="let c of loadedStatus">{{c}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group mb-3 row">
                    <label for="validationCustom02" class="col-xl-3 col-sm-4 mb-0">Drop:</label>
                    <div class="col-xl-8 col-sm-7">
                      <input formControlName="drop" id="validationCustom02" type="checkbox">
                    </div>
                  </div>
                  <div class="form-group mb-3 row">
                    <label for="validationCustom03" class="col-xl-3 col-sm-4 mb-0">Nom:</label>
                    <div class="col-xl-8 col-sm-7">
                      <input formControlName="name"
                             [class.is-invalid]=" ngForm.submitted &&  productFormGroup.get('name').hasError('required')"
                             class="form-control" id="validationCustom03" type="text" required="">
                    </div>
                  </div>
                  <div class="form-group mb-3 row">
                    <label class="col-xl-3 col-sm-4 mb-0">Prix: </label>
                    <div class="col-xl-8 col-sm-7">
                      <input class="form-control"
                             [class.is-invalid]=" ngForm.submitted &&  productFormGroup.get('price').hasError('min')"
                             formControlName="price" type="text" required="">
                    </div>
                  </div>

                </div>
                <div class="form-group mb-3 row">

                  <label for="validationCustom04" class="col-xl-3 col-sm-4 mb-0">Taille unie:</label>
                  <div class="col-xl-8 col-sm-7">
                    <input #uniSize id="validationCustom04" type="checkbox">
                  </div>
                </div>
                <ng-container *ngIf="!uniSize.checked">

                  <div class="form-group row" *ngFor="let s of loadedSizes">
                    <label class="col-xl-3 col-sm-4 mb-0">{{s.name}}</label>
                    <fieldset class="qty-box col-xl-9 col-xl-8 col-sm-7">
                      <div class="input-group">
                        <input (change)="updateSizes(s , q.value)" #q class="form-control" [class.is-invalid]="ngForm.submitted &&  sizesToPersist.length ===0" type="number" value="0">
                      </div>
                    </fieldset>
                  </div>
                  <div *ngIf="ngForm.submitted &&  sizesToPersist.length ===0"
                       class="invalid-feedback d-block">Ajouter au moins une taille
                  </div>
                </ng-container>
                <div class="form-group row">
                  <label class="col-xl-3 col-sm-4">Description:</label>
                  <div class="col-xl-8 col-sm-7 description-sm">
                    <textarea
                      [class.is-invalid]=" ngForm.submitted &&  productFormGroup.get('description').hasError('required')"
                      formControlName="description" cols="80" rows="4"></textarea>
                  </div>
                </div>

                <div class="offset-xl-3 offset-sm-4">
                  <button [disabled]="submittingData"  class="btn btn-primary" type="submit" (click)="addProduct()"> <i *ngIf="submittingData" class="fa fa-spinner fa-spin"></i>
                    Sauvegarder</button>
                  <button type="button" class="btn btn-light" (click)="productFormGroup.reset()">Annuler</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

