
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <div class="page-header-left">
          <h3>Tailles
            <small>Smurfitt Admin</small>
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li  class="breadcrumb-item"><a routerLink="/admin"  ><i class="fa fa-home" ></i></a></li>
          <li class="breadcrumb-item active">Tailles</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5 class="d-inline-block">Tailles des produits</h5>
          <button  type="button" class="btn btn-primary f-right" (click)="openModalAddSize()">Ajouter une taille
          </button>
        </div>
        <div class="card-body order-datatable">
          <table *ngIf="sizesHasBeenLoaded" class="display" id="sizes_list">
            <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let s of loadedSizes">
              <td>{{s?.id}}</td>
              <td>
              {{s?.name}}
              </td>


              <td>
                <div class="d-flex">
                  <button
                    (click)="openModalEditOrder(s)"
                 style="padding: 3px 8px"
                    class="btn btn-primary mx-1"><i class="fa fa-pencil"></i></button>
                  <button (click)="openModalDeleteSize(s)" style="padding: 3px 8px" class="btn btn-danger mx-1"><i class="fa fa-trash"></i></button>
                </div>
              </td>
            </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->


