
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <div class="page-header-left">
          <h3>Tailles
            <small>Smurfitt Admin</small>
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li  class="breadcrumb-item"><a routerLink="/admin"  ><i class="fa fa-home" ></i></a></li>
          <li class="breadcrumb-item active">Promotions</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5 class="d-inline-block">Promotions des produits</h5>

        </div>
        <div class="card-body order-datatable">
          <table *ngIf="salesHasBeenLoaded" class="display" id="sales_list">
            <thead>
            <tr>
              <th>Id</th>
<!--              <th>Produit</th>-->
              <th>Produit</th>
              <th>Date de début</th>
              <th>Date fin</th>
              <th>Pourcentage</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let s of loadedSales">
              <td>{{s?.id}}</td>

              <td><a [routerLink]="['/shop/products/details',s?.product.id]"  class="badge badge-info">{{s?.product?.name}}</a></td>
              <td>
                {{s?.startDate  | date: 'dd/MM/yyyy'}}
              </td>
              <td>
                {{s?.endDate  | date: 'dd/MM/yyyy'}}
              </td>
              <td>
                {{s?.percentage  | number}}%
              </td>



              <td>
                <div class="d-flex">
                <!--  <button
                    (click)="openModalEditSale(s)"
                    style="padding: 3px 8px"
                    class="btn btn-primary mx-1"><i class="fa fa-pencil"></i></button>-->
                  <button (click)="openModalDeleteSale(s)" style="padding: 3px 8px" class="btn btn-danger mx-1"><i class="fa fa-trash"></i></button>
                </div>
              </td>
            </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->


