.total-products{
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #222222 !important;
  line-height: 24px !important;
  letter-spacing: 0.05em!important;
}

.shop-cart:before {
  content: "\e60d"; }

