<!--&lt;!&ndash; Container-fluid starts&ndash;&gt;-->
<!--<div class="container-fluid">-->
<!--  <div class="page-header">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-6">-->
<!--        <div class="page-header-left">-->
<!--          <h3>Category-->
<!--            <small>Smurfitt Admin</small>-->
<!--          </h3>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <ol class="breadcrumb pull-right">-->
<!--          <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>-->
<!--          <li class="breadcrumb-item active">Products</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Container-fluid Ends&ndash;&gt;-->

<!--&lt;!&ndash; Container-fluid starts&ndash;&gt;-->
<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-12">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <h5 class="d-inline-block">Products </h5>-->


<!--        </div>-->

<!--        <div class="card-body">-->
<!--          <div class="btn-popup pull-right">-->

<!--          </div>-->

<!--          <ngx-datatable-->
<!--            class="bootstrap"-->
<!--            [rows]="loadedProducts"-->
<!--            [columns]="columns"-->
<!--            [columnMode]="ColumnMode.force"-->
<!--            [headerHeight]="40"-->
<!--            [summaryPosition]="'bottom'"-->
<!--            [footerHeight]="40"-->
<!--            [limit]="10"-->

<!--            rowHeight="auto"-->
<!--            [reorderable]="reorderable"-->
<!--          >-->
<!--            <ngx-datatable-column style="display: flex;align-items: center" *ngFor="let col of columns"-->
<!--                                  [name]="col.name"-->
<!--                                  [prop]="col.prop"></ngx-datatable-column>-->
<!--            <ngx-datatable-column name="Sizes">-->
<!--              <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                <div class="d-block">-->
<!--                <ng-container *ngFor=" let s of row['sizes']">-->
<!--                  {{s?.name }} : {{ s?.quantity }}-->
<!--                </ng-container>-->

<!--                </div>-->

<!--              </ng-template>-->
<!--            </ngx-datatable-column>-->

<!--            <ngx-datatable-column name="Categories">-->
<!--              <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                <div class="d-block">-->
<!--                  <ng-container *ngFor=" let c of row['category']">-->
<!--                    {{c?.name }}-->
<!--                  </ng-container>-->

<!--                </div>-->

<!--              </ng-template>-->
<!--            </ngx-datatable-column>-->
<!--            <ngx-datatable-column name="Images">-->
<!--              <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                <div class="d-block">-->
<!--                  <img *ngFor="let p of row.pictures" [src]="p.url" alt=""-->
<!--                       class="img-fluid img-30 me-2 blur-up lazyloaded">-->

<!--                </div>-->

<!--              </ng-template>-->
<!--            </ngx-datatable-column>-->

<!--            <ngx-datatable-column name="Action">-->
<!--              <ng-template ngx-datatable-cell-template>-->
<!--                <div class="d-flex">-->
<!--                  <button style="padding: 3px 8px" class="btn btn-primary mx-1"><i class="fa fa-pencil"></i></button>-->
<!--                  <button style="padding: 3px 8px" class="btn btn-danger mx-1"><i class="fa fa-trash"></i></button>-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </ngx-datatable-column>-->
<!--          </ngx-datatable>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Container-fluid Ends&ndash;&gt;-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <div class="page-header-left">
          <h3>Produits
            <small>Smurfitt Admin</small>
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-home"></i></a></li>
          <li class="breadcrumb-item">Produits</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Gérer les produits</h5>
        </div>
        <div class="card-body order-datatable">
          <table *ngIf="productsHasBeenLoaded" class="display" id="products_list">
            <thead>
            <tr>
              <th style="min-width: 10px;width: 35px; text-align: left">ID</th>
              <th>Nom</th>
              <th style="max-width: 100px">Tailles</th>
              <th width="70px">Sexe</th>
              <th style="max-width: 120px">Catégories</th>
              <th style="width: 70px;">Collection</th>
              <th>Drop</th>
              <th>Prix</th>
              <th>Status</th>
              <th>Images</th>
              <th style="width: 90px;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of loadedProducts">
              <td style="min-width: 10px;width: 35px">{{p?.id}}</td>
              <td><span class="badge badge-danger" style="color: white">{{p?.name}}</span></td>
              <td style="max-width: 100px">
                <div class="d-block">
                  <ng-container *ngFor="let s of p?.sizes;let i = index">
                    <b>{{s?.size?.name}}</b>: {{s?.quantity}}  <br *ngIf="i!== p?.sizes?.length-1">
                  </ng-container>
                </div>
              </td>
              <td>
                {{p?.gender}}
              </td>
              <td style="max-width: 120px">
                <ng-container *ngFor="let c of p?.categories; let i = index">
                  {{c?.name }}<span  *ngIf="i!== p?.categories?.length -1"> || </span>
                </ng-container>
              </td>
              <td style="width: 70px;">
                {{p?.collection}}
              </td>
              <td><span [ngClass]="p?.drop? 'badge-primary':'badge-secondary'" class="badge">{{p?.drop}}</span></td>
              <td>{{p?.price}} DT</td>
              <td><span [ngClass]="p?.status==='Disponible' ? 'badge-success':'badge-warning'" class="badge"
                        style="color: white">{{p?.status}}</span></td>
              <td>
                <div class="d-flex">
                  <img *ngFor="let pic of p?.pictures" [src]="pic?.url" alt=""
                       class="img-fluid img-30 me-2 blur-up lazyloaded  ">

                </div>
              </td>
              <td style="width: 70px;">
                <div class="d-flex">
                  <button [routerLink]="['/admin/products/edit',p?.id]" style="padding: 3px 8px"
                          class="btn btn-primary mx-1"><i class="fa fa-pencil"></i></button>
                  <button (click)="openModalDeleteProduct(p)" style="padding: 3px 8px"
                          class="btn btn-danger mx-1"><i class="fa fa-trash"></i></button>
                  <button (click)="openModalAddSale(p)" style="padding: 3px 8px"
                          class="btn btn-danger mx-1"><i class="fa fa-percent"></i></button>
                </div>
              </td>
            </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->



