<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Suivi de commande</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Suivi de commande</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

<section *ngIf="!ordersHasBeenLoaded"  class="authentication-page mb-5">
  <div class="container">
    <section class="search-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <form class="form-header">
              <div class="input-group">
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Search Products......">
                <div class="input-group-append">
                  <button (click)="loadOrders()" style="color:white" class="btn btn-solid"><i class="fa fa-search"></i>Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<!-- tracking page start -->
<section *ngIf="ordersHasBeenLoaded"  class="tracking-page section-b-space">
  <div  class="container">
    <div class="row">
      <div *ngFor="let o of loadedOrders" class="col-sm-12">
        <h3>Statut de la commande no: {{o.id}} </h3>
        <div  class="row border-part">
          <ng-container *ngFor="let oi of o?.orderItems">
          <div class="col-xl-2 col-md-2 col-sm-3 mb-4">
            <div class="product-detail">
              <img style="height: 6rem;width: 5rem;object-fit: cover;" [src]="oi?.product?.pictures[0].url" class="img-fluid blur-up lazyload" alt="">
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 col-sm-8 mb-4">
            <div class="tracking-detail">
              <ul>
                <li>
                  <div class="left">
                    <span>Nom du produit</span>
                  </div>
                  <div class="right">
                    <span>{{oi?.product.name}}</span>
                  </div>
                </li>
                <li>
                  <div class="left">
                    <span>Quantité</span>
                  </div>
                  <div class="right">
                    <span>{{oi.quantity}}</span>
                  </div>
                </li>
                <li>
                  <div class="left">
                    <span>Taille</span>
                  </div>
                  <div class="right">
                    <span>{{oi.size.name}}</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          </ng-container>

        </div>
        <div class="wrapper">
          <div class="arrow-steps clearfix">
            <div [class.current]="isCurrent(o.status,0)"  class="step "> <span> Commande passée</span> </div>
            <div  [class.current]="isCurrent(o.status,1)"   class="step "> <span>Commande confirmée</span> </div>
            <div  [class.current]="isCurrent(o.status,2)"  class="step"><span> En livraison</span> </div>
            <div  [class.current]="isCurrent(o.status,3)"  class="step"><span>Livré</span> </div>
          </div>
        </div>
        <div class="order-table table-responsive-sm">
          <table class="table mb-0 table-striped table-borderless">
            <thead class="">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Date</th>
              <th scope="col">Prix total</th>
              <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{o?.id}}</td>
              <td>{{o?.createdOn | date :'dd/mm/yyyy HH:MM'}}</td>
              <td>{{o?.totalPrice}} DT</td>
              <td>{{o?.status}}</td>
            </tr>
                       </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- tracking page end -->
